.formLogin{
	display: none;
	visibility: hidden;
}

.col-sm{
	margin: 10px auto;
	/*align-content: center; */
	align-items: center;
	display: inline-block;

}

div#cervo{
	max-width: 150px;
	max-height: 150px;
}

img{
	max-height: 350px;
	max-width: 350px;
}